<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
	if(page.category == 'code'){
		title = '代码';
	}
	if(page.category == 'photos'){
		title = '相册';
	}
	if(page.category == 'feel'){
		title = '后感';
	}
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<%- css('css/style.css') %>
	<link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>